<html>
  <head>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        // LISBON
        var data = new google.visualization.arrayToDataTable([
          ['Price', 'Count'],
          ['0-5', 2],
          ['6-10', 16],
          ['11-15', 44],
          ['16-20', 22],
          ['21-25', 4],
          ['26-30', 2],
          ['31-35', 0],
          ['36-40', 0],
          ['41-45', 0],
          ['46-50', 0]
        ]);
        // BERLIN
        var data2 = new google.visualization.arrayToDataTable([
          ['Price', 'Count'],
          ['0-5', 0],
          ['6-10', 19],
          ['11-15', 29],
          ['16-20', 20],
          ['21-25', 16],
          ['26-30', 2],
          ['31-35', 3],
          ['36-40', 0],
          ['41-45', 1],
          ['46-50', 0]
        ]);
        // BARCELONA
        var data3 = new google.visualization.arrayToDataTable([
          ['Price', 'Count'],
          ['0-5', 0],
          ['6-10', 19],
          ['11-15', 35],
          ['16-20', 21],
          ['21-25', 8],
          ['26-30', 4],
          ['31-35', 3],
          ['36-40', 0],
          ['41-45', 0],
          ['46-50', 0]
        ]);
        // STOCKHOLM 
        var data4 = new google.visualization.arrayToDataTable([
          ['Price', 'Count'],
          ['0-5', 0],
          ['6-10', 0],
          ['11-15', 2],
          ['16-20', 12],
          ['21-25', 25],
          ['26-30', 14],
          ['31-35', 8],
          ['36-40', 5],
          ['41-45', 2],
          ['46-50', 0]
        ]);

        var options = {
          chart: {
            title: 'Lisbon, Portugal',
            subtitle: 'Average Price: €13.78',
          }
        };
        var options2 = {
          chart: {
            title: 'Berlin, Germany',
            subtitle: 'Average Price: €16.66',
          }
        };
        var options3 = { 
          chart: { 
            title: 'Barcelona, Spain', 
            subtitle: 'Average Price: €15.47`'
          }
        }
        var options4 = {
          chart: {
            title: 'Stockholm, Sweden',
            subtitle: 'Average Price: €25.47',
          }
        };

        

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        var chart2 = new google.charts.Bar(document.getElementById('chart_div2'));

        var chart3 = new google.charts.Bar(document.getElementById('chart_div3'));
        var chart4 = new google.charts.Bar(document.getElementById('chart_div4'));

        chart.draw(data, options);
        chart2.draw(data2, options2);
        chart3.draw(data3, options3);
        chart4.draw(data4, options4);

      }
    </script>

  </head>
  <body>
    <div class="container">
      <h1>How much does it cost to sleep around the world?</h1>
      <h3>All prices are scraped from Hostelworld as of July 2016 and all prices are in USD</h3>

      <div container>
        <div id="columnchart_material" style="width: 900px; height: 500px;"></div>
        <div id="chart_div4" style="width: 900px; height: 500px;"></div>
        <div id="chart_div2" style="width: 900px; height: 500px;"></div>
        <div id="chart_div3" style="width: 900px; height: 500px;"></div>
        
      </div>
    </div>
  </body>
</html>
